/* ============================================================================
            Basic setup
     =========================================================================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
     font-family: "Nanum Myeongjo", serif;
    
     color: #fff;
}

 /* ====================================================================================
                                 portfolio section
         ===================================================================================*/
         body{
          
          background-image: linear-gradient(rgba(255, 221, 153, 0.5),rgba(255, 221, 153, 0.5)) ,url(images/portfolio-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center  ;
            background-attachment: fixed;
            color: #fff;
            padding: 5rem 0;
            color: #ffffffb6;
           
            height: 100vh;
          }
.shari{
  font-family: molle;
  text-align: center;
  width: 250px;
  height: 50px;
  background-color:rgba(95, 158, 160, 0.571);
  margin-top: 0px;
  margin: auto; 
  margin-bottom: 40px; 
  box-shadow: 5px 6px 5px;
 
}
.iftari{
  text-align: center;
  font-family: molle;
  width: 250px;
  height: 50px;
  background-color:rgba(95, 158, 160, 0.571);
  margin-top: 100px;
   margin: auto; 
   box-shadow: 5px 6px 5px;
}
.salat{
  text-align: center;
  width: 120px;
  height: 100px;
  background-color: rgb(44, 93, 93);
}
.portfolio-filter{
  margin: auto;
}
.portfolio-section .mix-parent{
  width: 320px;
  margin: auto;
 

}
.portfolio-filter button{
  margin: auto;
}
/* hgfhfffff */
.portfolio-section{
  background-image: linear-gradient(rgba(255, 221, 153, 0.0),rgba(255, 221, 153, 0.0)) ,url(images/portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    background-attachment: fixed;
    color: #fff;
    padding: 5rem 0;
    color: #ffffffb6;
  }


.portfolio-filter{
  margin: 1.5rem 0;
}
.portfolio-section .box{
  text-align: center;
  margin-top: 0;
  width: 105px;
  
  text-transform: capitalize;

  padding: 10px 0;
  margin: 2px;
  
  background-color:hsla(222, 24%, 31%, 0.572);
  
 
}
.portfolio-section .box p{
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
.border-text{
  text-align:center;
  color: #fff;
  display: block;
  margin-left: 3px;
  font-size: 13px;
}
.border{
  text-align: left;
  height: 1px;
  width: 100%;
  /* margin-top: 20px; */
  background-color: white;
}
.button-parent{
  /* margin-left:50%; */
  text-align: center;

}
.role{
  margin-bottom: 2rem;background-color: darkslategray;width: 24%; text-align: center; margin: auto;padding: 5px 0;
}






.portfolio-filter button{
font-size: 1rem;
text-transform: capitalize;
background-color:darkcyan;
padding: 5px 6px;
color: #fff;
 border-radius: 5px ;
border: 0;
margin:0 .5rem;
transition: 0.5s;
margin: auto;
margin-bottom: 3px;




}
.forbidden:hover{
  background-color: red;

}
.portfolio-filter button:hover{
cursor: pointer;
color: #ffffffd1;
box-shadow: inset 0 0.3rem .5rem rgba(60, 71, 97, 0.6);
}


.portfolio-section .mixitup-control-active{
/* background-color: #e80a0a; */
background-color: #280528;
}
.salat-parent{
  font-family: molle;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 320px;
  margin: auto;
}
/* respossiveness */
@media only screen and (max-width: 300px){
  .salat-parent{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin:auto;
  width: 300px;
  justify-content:space-between;
  margin: auto;
  margin-left: 7px;
  
  }
  .button-parent button{
    font-size: 13px;
  }
  
   
  }
  
  




